:root {
  --margin: 3rem;
  --color-player: rgb(253, 89, 89);
  --color-computer: rgb(84, 84, 238);
  --color-dark: #212529;
  --color-white: #fff;
}

* {
  box-sizing: border-box;
}

@keyframes pop {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  user-select: none;
  overflow: hidden;
  color: var(--color-white);
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  text-align: center;
  z-index: 2;
  margin: 0 auto;
}

.d-flex {
  display: flex;
}

.d-flex.align-items-center {
  align-items: center;
}

.d-flex.justify-content-center {
  justify-content: center;
}

.bg-dark {
  background-color: var(--color-dark);
}

#particles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

#alert {
  position: relative;
  display: inline;
  visibility: hidden;
  background: none;
  border: none;
  font-size: 2rem;
  font-family: monospace;
  font-weight: bolder;
  color: #fff;
  text-shadow: 0 2px 10px #fff;
}

#alert.talk {
  color: var(--color-computer);
  text-shadow: 0 2px 10px var(--color-computer);
}

#alert.bad {
  color: var(--color-player);
  text-shadow: 0 2px 10px var(--color-player);
}

.title {
  color: rgb(156, 91, 216);
  font-family: cursive;
  font-weight: bolder;
}

.container {
  animation: pop 0.2s ease;
  padding: 2rem;
}

.grid {
  height: auto;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(3, minmax(50px, 300px));
  grid-template-rows: repeat(3, minmax(50px, 300px));
  gap: 3rem;
  aspect-ratio: 1 / 1;
}

.grid:not(:last-child) {
  margin-bottom: var(--margin);
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  /* aspect-ratio: 50%; */
  border: 5px solid #32383e;
  border-radius: 15%;
  box-shadow: 0 8px 8px #1b1f22;
  transition: all 0.1s;
  font-weight: bolder;
  font-size: 10rem;
  font-family: cursive;
}

.cell[data-cell-value="x"].last {
  box-shadow: 0 0 100px var(--color-player);
}

.cell[data-cell-value="o"].last {
  box-shadow: 0 0 100px var(--color-computer);
}

.cell[data-cell-value=""] {
  cursor: pointer;
}

.cell[data-cell-value=""]:hover {
  border-color: #aaa;
  transform: translateY(-5px);
}

.cell[data-cell-value=""]:active {
  border-color: #fff;
  transform: translateY(5px) scale(0.9);
}

.cell:not(:last-child) {
  margin-right: var(--margin);
}

.cell.highlight {
  border: 0 0 8px solid #000;
}

.cell[data-cell-value="x"] {
  background-color: var(--color-player);
}

.cell::after {
  transform: translateY(-10px);
}

.cell[data-cell-value="x"]::after {
  content: "X";
}

.cell[data-cell-value="o"] {
  background-color: var(--color-computer);
}

.cell[data-cell-value="o"]::after {
  content: "O";
}

.status {
  display: flex;
  align-items: center;
  position: absolute;
  height: 600px;
  width: 600px;
  border-radius: 50%;
  transition: all 0.5s ease;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 2rem;
  font-family: monospace;
  z-index: 1;
  opacity: 0.2;
}

.status.active {
  opacity: 1;
}

.status .turn-status {
  color: #fff;
  opacity: 0.2;
  letter-spacing: 3px;
}

#status-player {
  left: 0;
  background: radial-gradient(var(--color-player), transparent);
  transform: translateX(-40%);
  justify-content: end;
}

#status-player.active {
  box-shadow: 0 0 100px var(--color-player);
}

#status-player .turn-status {
  writing-mode: sideways-lr;
}

#status-computer {
  right: 0;
  background: radial-gradient(var(--color-computer), transparent);
  transform: translateX(40%);
  justify-content: start;
}

#status-computer.active {
  box-shadow: 0 0 100px var(--color-computer);
}

#status-computer .turn-status {
  writing-mode: vertical-lr;
}

#score-player,
#score-computer {
  font-size: 10rem;
  opacity: 0.2;
  font-weight: lighter;
  font-family: monospace;
}

#score-player {
  margin-right: 4rem;
}

#score-computer {
  margin-left: 4rem;
}

.sidebar {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-right: var(--margin);
  margin-bottom: var(--margin);
  font-family: monospace;
  font-size: 2rem;
  transition: opacity 0.2s ease;
  font-weight: bolder;
}

.sidebar.left {
  left: 0;
  right: unset;
  font-size: 1.5rem;
}

.sidebar.left div,
.sidebar.left a {
  margin-left: var(--margin);
}

.sidebar div,
.sidebar a {
  opacity: 0.2;
  transition: opacity 0.1s ease;
}

.sidebar div:not(:first-child) {
  margin-left: var(--margin);
}

.sidebar div:hover,
.sidebar a:hover {
  opacity: 0.5;
}

.sidebar .sidebar-btn {
  cursor: pointer;
}

.sidebar .sidebar-btn:active {
  transform: translateY(2px);
}

.sidebar .sidebar-btn.active {
  color: rgb(107, 197, 107);
}

@media screen and (max-width: 600px) {
  html {
    font-size: 8px;
  }
}